# Kutubxonalar
node_modules/

# Build natijalari
dist/
dist_electron/
*.exe
*.dmg
*.deb

# Mobil buildlar
android/app/build/
android/.gradle/
android/local.properties

# Logs va IDE
npm-debug.log*
.vscode/
.idea/
.env